@model AirTicketBooking.Models.AddFlightJourney
@{
    List<string> flightNames = ViewBag.FlightNames;
}
@{
    ViewBag.Title = "AddFlightJourneyData";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Add Flight Journey</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.FromDestination, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FromDestination, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FromDestination, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ToDestination, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ToDestination, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ToDestination, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DepartureDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DepartureDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DepartureDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DepartureTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DepartureTime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DepartureTime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FlightName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @if (ViewBag.FlightNames != null)
            {
                <select class="form-control" id="FlightName" name="FlightName">
                    @foreach (var name in ViewBag.FlightNames)
                    {
                        <option value="@name">@name</option>
                    }
                </select>
            }
            @Html.ValidationMessageFor(model => model.FlightName, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.SeatType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.SeatType, new SelectList(
                new List<SelectListItem>
                {
                    new SelectListItem { Text = "Economy Class", Value = "Economy Class" },
                    new SelectListItem { Text = "Premium Economy", Value = "Premium Economy" },
                    new SelectListItem { Text = "Business Class", Value = "Business Class" },
                    new SelectListItem { Text = "First Class", Value = "First Class" }
                }, "Value", "Text"),
                new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SeatType, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@if (TempData["result2"] != null)
{
    <script type="text/javascript">
        alert("Record Is Inserted Successfully");
    </script>

}   