@model List<AirTicketBooking.Models.flight>

@{
    ViewBag.Title = "GetFlightDetails";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Flight Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
      
            <th>Flight Name</th>
            <th>Seating Capacity</th>
            <th>Flight Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>

                    <td>@item.FlightName</td>
                    <td>@item.SeatingCapacity</td>
                    <td>@item.FlightPrice</td>
                    <td>
                        @Html.ActionLink("Edit", "EditFlightDetailsById", new { id = item.FlightId }) |
                        @Html.ActionLink("Details", "GetFlightDetailsById", new { id = item.FlightId }) |
                        @Html.ActionLink("Delete", "DeleteFlight", new { id = item.FlightId }, new { onclick = "return confirm('Are sure wants to delete?');" })
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7">No data available</td>
            </tr>
        }
    </tbody>
</table>

@if (TempData["result3"] != null)
{
    <script type="text/javascript">
        alert("Record Is Deleted Successfully");
    </script>

}   